@font-face {
  font-family: "Roboto-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Roboto.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Forum";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Forum-Regular.woff2") format("woff2");
  font-display: swap;
}
