/* Colors */

$color-bg-dark: #030303;
$color-red-dark: #710707;
$color-font-gd: #9d8665;
$color-active-gd: #7E6C51;
$color-pag-gd: #D2B183;
$color-black: #000000;
$color-white: #ffffff;
$color-bg-light: #dbdbdb;

/* Fonts */

$font-roboto: "Roboto", "Arial", sans-serif;
$font-roboto-regular: "Roboto-Regular", "Arial", sans-serif;
$font-forum: "Forum", "Arial", serif;
